[Unit]
Description=Simple systemd service to run Serverledge.

[Service]
Type=simple
WorkingDirectory={{ app_dir }}
ExecStart={{ app_dir }}/lb {{ app_dir }}/conflb.yml
ExecStop=/bin/kill -TERM $MAINPID
Nice=-10

[Install]
WantedBy=multi-user.target
