---
api.port: {{ cloud_api_port }}
api.ip: "{{ hostvars[inventory_hostname]['private_ip'] }}"
etcd.address: "{{ hostvars[groups['cloud'][0]]['private_ip'] }}:2379"
registry.udp.port: 9888
container.pool.memory: 20000

metrics.enabled: true
metrics.retriever.interval: 600

scheduler.queue.capacity: 0

registry.area: "cloud-ROME"
registry.node.id: {{ inventory_hostname }}

scheduler.policy: localonly
metrics.enabled: true
metrics.prometheus.host: "{{ hostvars[groups['cloud'][0]]['private_ip'] }}"
metrics.prometheus.pushgateway.host: "{{ hostvars[groups['cloud'][0]]['private_ip'] }}"
tracing.enabled: false

