---
api.port: {{ edge_api_port }}
etcd.address: "{{ hostvars[groups['cloud'][0]]['private_ip'] }}:2379"

registry.area: "ROME"
registry.remote.area: "cloud-ROME"
registry.node.id: {{ inventory_hostname }}

container.pool.memory: 3072
container.pool.cpus: 4

scheduler.policy: default
scheduler.queue.capacity: 0

workflow.always_save_progress: false
workflow.offloading.policy: ilp
workflow.offloading.policy.ilp.placement.ttl: 10 
workflow.offloading.policy.optimizer.host: "{{ hostvars[groups['edge'][0]]['private_ip'] }}"

workflow.offloading.policy.ilp.obj.cost: 0.0
workflow.offloading.policy.ilp.obj.data: 0
workflow.offloading.policy.ilp.obj.violations: 1
workflow.offloading.policy.ilp.obj.reclaimed: 0.1

workflow.offloading.policy.region.cost:
  ROME: 0.0
  cloud-ROME: 2.0

metrics.enabled: true
metrics.retriever.interval: 60
metrics.prometheus.host: "{{ hostvars[groups['cloud'][0]]['private_ip'] }}"
metrics.prometheus.pushgateway.host: "{{ hostvars[groups['cloud'][0]]['private_ip'] }}"
metrics.dump.json.file: /tmp/metrics.json
#metrics.load.json.file: /tmp/profiled_metrics.json

tracing.enabled: false

workflow.profiling.saveinput: false
