---
api.port: 1323
etcd.address: "{{ groups['sedge_Cloud'][0] }}:2379"
cloud.server.url: "http://{{ groups['sedge_Cloud'][-1] }}:1323"

offloading: true
scheduler.policy: localonly
container.pool.memory: 3072
container.pool.cpus: 3
scheduler.queue.capacity: 1024
