---
api.port: 1325
etcd.address: "{{ hostvars[groups['cloud'][0]]['ansible_facts']['default_ipv4']['address'] }}:2379"

registry.udp.port: 9889
registry.area: "cloud-ROME"
metrics.enabled: false
tracing.enabled: false
loadbalancer.policy: const-hash
